.container{
    background-image: url('../../assets/images/1607299564741.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1800px 500px;
    height: 500px;
    padding: 0 0 0 0;
    margin: -10px 0 0 0;
    max-width: 1900px;
}


.header{
    margin-top:20px;
    width: auto;
}
.hero{
    margin-left: 200px;
}
.header-banner{
    justify-content: center;
    margin-left: 0px;
    padding-top: 10px;
}




.header {
    margin-top:10px;
    background-color: #004165;
    width: 1200px;
    height: 60px;
}
.logo{
    margin-left: 0px;
}
.nav-link{
    color: white;
}

li {
    padding-top:10px;
    padding-bottom: 10px;
}
li:hover {
    background-color: #0072ac;
    height: 60px;
}

.has-control:hover{
    background-color: #004165;
}

.has-control{
    margin-left: 400px;
    padding-left:200px;
}

.search-textbox{
    width: 390px;
    text-transform: lowercase;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:200px;
}

.search-textbox:focus {
    box-shadow: none;
}

.autopopulate{
    display:inline-block;
    background-color: white;
    width: 390px;
    margin-left:200px;
    margin-top:-10px;
}

.search-button{
    margin-top: 10px;
    height: 38px;
    background-color:#007dba;
    color: white;
}


.has-control{
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
    font-size:medium;
}
.termExpansionListItem{
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
    font-size: small;
    vertical-align: middle;
    height: 30px;
    text-transform: lowercase;
    padding: 10 0 0 0;
}
.termExpansionListItem:hover{
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
    font-size: small;
    vertical-align: middle;
    background-color: #004165;
    cursor: pointer ;
    color:white;
    padding: 10 0 0 0;
    height: 30px;
    
}

.second-line-menu{
    color: white;
    margin-top:10px;
    margin-left: -30px;
    padding-left: 0px;
    width: 140px;
    float: right;
  

}

.second-line-menu-text{
    margin-top:5px;
    margin-left:5px;
    font-size: small;
}

.second-line-menu-row{
    margin-left: 1010px;
    position: relative;
}


.maintext{
    color: white;
    width: 600px;
    padding-top: 10px;
    font-size: 2em;
    font-weight: 600;
    font:Arial,Helvetica,sans-serif;
    position: absolute;
}

.subtext{
    color: white;
    padding-top:150px;
    width: 610px;
    display: inline;
    position: absolute;
}

.buyReadyBtn{
    width: 200px;
    
}
.btn-ReadyBuy{
    padding-top: 250px;
    position: absolute;
    width: 300px;

}
.btn--white {
    background-color: #fff;
    color: #0072ac;
}
.btn {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #0072ac;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    max-width: 250px;
    padding: 0.625rem 1rem;
    text-align: center;
    -webkit-transition: background-color 0.3s ease-both;
    transition: background-color 0.3s ease-both;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn--border-white {
    border-color: #fff;
}

.anz-buy{
    margin-top:30px;
}