
<div class="container">
    <div class="hero">
      <div class="header-banner">
        <app-header class="container-main"></app-header>
      </div>  
    </div>
    <app-mainpage class="container-main"></app-mainpage>
    <app-covid></app-covid>
    <app-banking-with-anz></app-banking-with-anz>
    
</div>
  
