.second-line-menu{
    color: white;
    margin-top:10px;
    margin-left: -30px;
    padding-left: 0px;
    width: 140px;
    float: right;
  

}

.second-line-menu-text{
    margin-top:5px;
    margin-left:5px;
    font-size: small;
}

.second-line-menu-row{
    margin-left: 1010px;
    position: absolute;
    z-index: 0;
}


.maintext{
    color: white;
    width: 600px;
    padding-top: 10px;
    font-size: 2em;
    font-weight: 600;
    font:Arial,Helvetica,sans-serif;
    position: absolute;
}

.subtext{
    color: white;
    padding-top:150px;
    width: 610px;
    display: inline;
    position: absolute;
}

.buyReadyBtn{
    width: 200px;
    
}
.btn-ReadyBuy{
    padding-top: 250px;
    position: absolute;
    width: 300px;

}
.btn--white {
    background-color: #fff;
    color: #0072ac;
}
.btn {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #0072ac;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    max-width: 250px;
    padding: 0.625rem 1rem;
    text-align: center;
    -webkit-transition: background-color 0.3s ease-both;
    transition: background-color 0.3s ease-both;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn--border-white {
    border-color: #fff;
}

.anz-buy{
    margin-top:30px;
}

.content{
    padding-left:200px;
}