<div class="content">
  <div class="row second-line-menu-row">
    <div class="col-sm-4 second-line-menu"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
    </svg><span class="second-line-menu-text">Find ANZ</span></div>
    <div class="col-sm-4 second-line-menu"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
      <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
    </svg><span class="second-line-menu-text">Support Centre</span></div>
  </div>
  <div class="row third-line-jumbo-row">
    <div class="maintext">
      <span>Be ready to make your move <br>with ANZ Buy Ready</span>
    </div>
    <div class="subtext">
      Start your home loan pre-approval application in just 5 minutes or find out what a property could sell for, so you can buy with more confidence.
  
    </div>
    <div class="btn-ReadyBuy">
      <p>
        <a adhocenable="false" href="" class="btn btn--white btn--border-white non-keyboard-outline">Get ANZ Buy Ready</a>
      </p>
    </div>
  </div>
  
</div>


