.banking-row{
    width: 1200px;
    padding-left: 200px;
    padding-top:25px;
}

.banking-with-ANZ{
    color: #004165;
    font-family: myriad-pro,Arial,Helvetica,sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -.00625rem;
    margin-bottom: 1.5rem;
    text-transform: none;
}

ul{
    list-style: none;
}

ul li{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.375rem;
    margin-bottom: 10px;
    text-transform: none;
    color: #0072ac;
    text-decoration: none;
    cursor: pointer;
}

.hrline{
    padding-top: 20px;
}