<div class="container">
    <div class="hero">
        <div class="header-banner">
            <app-header></app-header>
        </div>
    </div>
    <div class="search-tabs">
        <div class="results" *ngIf="showresults">
            <div class="result_number">Showing <strong>{{start}}</strong> to <strong>{{numhits}}</strong> of <strong>{{totalresults}}</strong>  results for <span class="searchterm" [innerHTML]="searchTerm"></span></div>
                <div  *ngFor="let result of searchresults" class="searchresults">
                    <div class="search-result-title"><strong>{{result.title}}</strong></div>
                    <a href="{{result.link}}" class="search-result-link">{{result.link}}</a>
                    <div [innerHTML]="result.summary" class="summary"></div>
                </div>
        </div> 
            

    </div>


</div>
