
<ul class="nav justify-content-center header">
      <a href="https://www.anz.com.au/personal/" class="logo logo--authored logo--default" title="ANZ Logo"><img height="50px" src="../../../assets/images/logo-promo-anz-small.png" alt="ANZ logo"></a>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><strong>Personal</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Business</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">International</a>
    </li>
    <li class="nav-item has-control">
        <div class="input-group">
            <input type="text" class="form-control search-textbox" id="searchFormControl1" placeholder="search...."  name="search-textbox"
                  [(ngModel)]="searchterm"
                  (ngModelChange)="callTypeAhead($event)" (keyup.enter)="onEnter()">
            <div class="input-group-append">
                <button class="btn btn-secondary search-button" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                </button>
            </div>
        </div>
        <div *ngIf="show_autopopulate_div" class="autopopulate">
          <ul>
            <li *ngFor="let phrase of phrases" class="termExpansionListItem" (click)="TermExpansionClicked(phrase)">
              <div [innerHTML]="phrase | highlight: searchterm"></div>  
            </li>
          </ul>
          <div *ngIf="show_autopopulate_conversation_div">
            <hr>
            <ul>
              <li *ngFor="let trigger of conversationtriggers" class="termExpansionListItem" (click)="ConversationTriggerClicked(trigger)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                <span class="conversation" [innerHTML]="trigger | cap"></span>
        
              </li>
            </ul>
          </div> 
        </div>

    </li>
</ul>
