.header {
    margin-top:10px;
    background-color: #004165;
    width: 1200px;
    height: 60px;
}
.logo{
    margin-left: 0px;
}
.nav-link{
    color: white;
}

li {
    padding-top:10px;
    padding-bottom: 10px;
}
li:hover {
    background-color: #0072ac;
    height: 60px;
}

.has-control:hover{
    background-color: #004165;
}

.has-control{
    margin-left: 400px;
    padding-left:200px;
}

.search-textbox{
    width: 390px;
    text-transform: lowercase;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:200px;
}

.search-textbox:focus {
    box-shadow: none;
}

.autopopulate{
    display:inline-block;
    background-color: white;
    width: 390px;
    margin-left:200px;
    margin-top:-10px;
    z-index: 200;
    position: relative;
}

.search-button{
    margin-top: 10px;
    height: 38px;
    background-color:#007dba;
    color: white;
}

ul li {
    list-style: none 
}
ul{
    padding-left: 0px;
    margin-top:10px;
}
.jumbotron{
    background: cadetblue;
}
.hero{
    padding-top: 10px;
    height: 400px;
    width: auto;
    background-color: cornflowerblue;
}
li{

}
.nav-item{
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-size:large;
    height: max-content;
}
.has-control{
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
    font-size:medium;
}
.conversation{
    text-transform: none;
}
.termExpansionListItem{
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
    font-size: small;
    vertical-align: middle;
    height: 30px;
    text-transform: lowercase;
    padding: 10 0 0 0;
    z-index: 200;
}
.termExpansionListItem:hover{
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
    font-size: small;
    vertical-align: middle;
    background-color: #004165;
    cursor: pointer ;
    color:white;
    padding: 10 0 0 0;
    height: 30px;
    z-index: 200;
}
.normal-font{
    font-weight: 200;
}

.conversation{
    margin-left:10px;
}