<div class="COVIDdiv">
    <img alt=" " style="float: left; padding-right: 15.0px; padding-bottom: 12.0px;" src="../../../assets/images/covid-19.svg">
    <span class="covid-text">Continuing to help where we can</span><br>
    <span class="covid-subtext">Get the latest information on our COVID-19 response at <a href="anz.com/covid-19">anz.com/covid-19</a>.</span>
    <a adhocenable="false" href="/support/covid-19/?pid=brd-not-td-hp-05-20-ser-covid19" class="btn btn--transparent-blue covid-btn" aria-label="Go to COVID-19 support options" data-clicktrack="Covid19_support">COVID-19 updates</a>
</div>