.COVIDdiv{
    background-color: #f0faff;
    height: 80px;
    margin-top: 386px;
    margin-left: -20px;
    padding-left: 220px;
    padding-top:10px;
}



.covid-text{
    font-size: small;
    font-weight: bold;
    color: #004165;
    font-family: Arial,Helvetica,sans-serif;
    margin-top: -55px;
}

.covid-subtext{
    font-size: small;
    color:#494949;
    font-family: Arial,Helvetica,sans-serif;
    margin-top: -55px;
}
.covid-btn{
    margin-top:-20px;
    margin-left:541px;
}
.btn--blue, .btn--primary {
    background-color: #007dba;
    border-color: #006ba1;
    float: right;

}
.btn--blue:hover:not(.btn--disabled), .btn--primary:hover:not(.btn--disabled) {
    background-color: #008dd4;
}
.btn--blue-text {
    color: #007dba;
}
.btn--blue.btn--transparent, .btn--outline, .btn--transparent-blue {
    color: #0072ac;
    border-color: #0072ac;
}
.btn--outline-white, .btn--transparent-white, .btn--white.btn--transparent {
    color: #fff;
    border-color: #fff;
}
.btn--darkBlue.btn--transparent, .btn--transparent-dark-blue {
    color: #004165;
    border-color: #004165;
}